In [34]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import datetime

pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 10)
pd.set_option('display.max_rows', 10)

%matplotlib inline
import matplotlib.pyplot as plt
# pd.options.display.mpl_style = 'default'

# A Tour of Pandas

## The pandas Series Object

In [10]:
s = Series([1,2,3,4])
print("Create a Series Object:\n", s)

Create a Series Object:
 0    1
1    2
2    3
3    4
dtype: int64

In [11]:
print("return a Series with the rows with labels 1 and 3\n", s[[1,3]])

return a Series with the rows with labels 1 and 3
 1    2
3    4
dtype: int64

In [12]:
s = Series([1,2,3,4], index = ['a', 'b','c','d'])
print("Create a Series Object with explicit indexes:\n", s)

Create a Series Object with explicit indexes:
 a    1
b    2
c    3
d    4
dtype: int64

In [13]:
print("lookup items the series having index 'a' and 'd'\n", s[['a', 'd']])

lookup items the series having index 'a' and 'd'
 a    1
d    4
dtype: int64

In [14]:
print("get only the index of the series:", s.index)

get only the index of the series: Index(['a', 'b', 'c', 'd'], dtype='object')

In [15]:
dates = pd.date_range('2014-07-01', '2014-07-06')
print('create a Series who\'s index is a series of dates between two specified dates:\n', dates)

create a Series who's index is a series of dates between two specified dates:
 DatetimeIndex(['2014-07-01', '2014-07-02', '2014-07-03', '2014-07-04',
               '2014-07-05', '2014-07-06'],
              dtype='datetime64[ns]', freq='D')

In [17]:
temps1 = Series([80, 82, 85, 90, 83, 87], index = dates)
print('create a Series with values for each date in the index:\n', temps1)

create a Series with values for each date in the index:
 2014-07-01    80
2014-07-02    82
2014-07-03    85
2014-07-04    90
2014-07-05    83
2014-07-06    87
Freq: D, dtype: int64

## DataFrame

In [20]:
temps2 = Series([70, 75, 69, 83, 79, 77], index=dates)

temps_df = DataFrame({'Missoula': temps1, 'Philadelphia': temps2})
print('DataFrame from two series:\n', temps_df)

DataFrame from two series:
             Missoula  Philadelphia
2014-07-01        80            70
2014-07-02        82            75
2014-07-03        85            69
2014-07-04        90            83
2014-07-05        83            79
2014-07-06        87            77

In [22]:
temps_df['Difference'] = temps1 - temps2
print('Add a column to temps_df that contains the difference in temps:\n', temps_df)

Add a column to temps_df that contains the difference in temps:
             Missoula  Philadelphia  Difference
2014-07-01        80            70          10
2014-07-02        82            75           7
2014-07-03        85            69          16
2014-07-04        90            83           7
2014-07-05        83            79           4
2014-07-06        87            77          10

In [26]:
print('get the row at array position 1(iloc):\n', temps_df.iloc[0])

get the row at array position 1(iloc): Missoula        80
Philadelphia    70
Difference      10
Name: 2014-07-01 00:00:00, dtype: int64

In [28]:
print('retrieve row by index label using .loc:\n', temps_df.loc['2014-07-05'])

retrieve row by index label using .loc:
 Missoula        83
Philadelphia    79
Difference       4
Name: 2014-07-05 00:00:00, dtype: int64

## Read from csv

In [31]:
df = pd.read_csv('test.csv', parse_dates=['date'], index_col='date')
print(df)

                   0        1        2
date
2000-01-01  1.103763 -1.90999 -0.98421

## Using numpy in Pandas

In [34]:
def squares(values):
    result = []
    for v in values:
        result.append(v * v)
    return result

to_square = range(100000)
print("time consuming using for loop")
%timeit squares(squares(to_square))
array_to_square = np.arange(0, 100000)
print("using numpy vectorized operation")
%timeit array_to_square ** 2

time consuming using for loop
21.9 ms ± 246 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)
using numpy vectorized operation
37.6 µs ± 379 ns per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [35]:
print("shorthand to repeat a sequence 10 times:\n", np.array([0] * 10))

shorthand to repeat a sequence 10 times:
 [0 0 0 0 0 0 0 0 0 0]

In [37]:
print("counting down", np.arange(10, 0, -1))

counting down [10  9  8  7  6  5  4  3  2  1]

In [38]:
print("evenly spaced #'s between two intervals:\n'", np.linspace(0, 10, 11))

evenly spaced #'s between two intervals:
' [ 0.  1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]

In [42]:
def exp(x):
    return x < 3 or x > 3
print("create a function that is applied to all array elements:\n", np.vectorize(exp)(np.arange(0, 10)))

create a function that is applied to all array elements:
 [ True  True  True False  True  True  True  True  True  True]

In [4]:
s10 = pd.Series([1,2,3,4,5], index=(['a', 'a', 'b', 'c', 'd']))
s11 = pd.Series([1,2,3,4,5], index=(['a', 'a', 'c', 'd', 'e']))
print("Two series added by index,notice there will be four a\n ",s10+s11)

Two series added by index,notice there will be four a a    2.0
a    3.0
a    3.0
a    4.0
b    NaN
c    7.0
d    9.0
e    NaN
dtype: float64

## tidying up the data

In [5]:
# prepare data
df = DataFrame(np.arange(0, 15).reshape(5, 3), index = ['a', 'b', 'c', 'd', 'e'], columns=['c1', 'c2', 'c3'])
print(df)

   c1  c2  c3
a   0   1   2
b   3   4   5
c   6   7   8
d   9  10  11
e  12  13  14

In [6]:
df['c4'] = np.nan
df.loc['f'] = np.arange(15, 19)
df.loc['g'] = np.nan
df['c5'] = np.nan
df['c4']['a'] = 20
print(df)

     c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0   NaN NaN
c   6.0   7.0   8.0   NaN NaN
d   9.0  10.0  11.0   NaN NaN
e  12.0  13.0  14.0   NaN NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [7]:
print("which items are null:\n", df.isnull())

which items are null:
       c1     c2     c3     c4    c5
a  False  False  False  False  True
b  False  False  False   True  True
c  False  False  False   True  True
d  False  False  False   True  True
e  False  False  False   True  True
f  False  False  False  False  True
g   True   True   True   True  True

In [8]:
print("count the number of NaN values in each columns:\n", df.isnull().sum())

count the number of NaN values in each columns:
 c1    1
c2    1
c3    1
c4    5
c5    7
dtype: int64

In [9]:
print("total count of NaN values:\n", df.isnull().sum().sum())

total count of NaN values:
 15

In [12]:
print("select the non-NaN items in column c4: \n", df.c4[df.c4.notnull()])

select the non-NaN items in column c4:
 a    20.0
f    18.0
Name: c4, dtype: float64

In [15]:
print("easy way to dropna, it doesn't affect the origin df:\n", df.c4.dropna())

easy way to dropna, it doesn't affect the origin df:
 a    20.0
f    18.0
Name: c4, dtype: float64

### some simple method for dropping nan values.

In [19]:
df2 = df.copy()
df2.dropna(how='all')
df2.dropna(how='all', axis=1)
df2.dropna(how='any', axis=1)
df2.dropna(thresh=5, axis=1)

     c1    c2    c3
a   0.0   1.0   2.0
b   3.0   4.0   5.0
c   6.0   7.0   8.0
d   9.0  10.0  11.0
e  12.0  13.0  14.0
f  15.0  16.0  17.0
g   NaN   NaN   NaN

In [20]:
s = Series([1,2,np.nan, 3])
print("nan is ignored in pandas:\n", s.mean())

nan is ignored in pandas:
 2.0

### filling in missing data

In [23]:
print("filling data with limited:\n", df.fillna(0, limit=2))

filling data with limited:
      c1    c2    c3    c4   c5
a   0.0   1.0   2.0  20.0  0.0
b   3.0   4.0   5.0   0.0  0.0
c   6.0   7.0   8.0   0.0  NaN
d   9.0  10.0  11.0   NaN  NaN
e  12.0  13.0  14.0   NaN  NaN
f  15.0  16.0  17.0  18.0  NaN
g   0.0   0.0   0.0   NaN  NaN

In [24]:
print("forward fill:\n", df.fillna(method='ffill'))

forward fill:
      c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0  20.0 NaN
c   6.0   7.0   8.0  20.0 NaN
d   9.0  10.0  11.0  20.0 NaN
e  12.0  13.0  14.0  20.0 NaN
f  15.0  16.0  17.0  18.0 NaN
g  15.0  16.0  17.0  18.0 NaN

In [25]:
print("backward fill:\n", df.fillna(method='bfill'))

backward fill:
      c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0  18.0 NaN
c   6.0   7.0   8.0  18.0 NaN
d   9.0  10.0  11.0  18.0 NaN
e  12.0  13.0  14.0  18.0 NaN
f  15.0  16.0  17.0  18.0 NaN
g   NaN   NaN   NaN   NaN NaN

In [27]:
print("mean fill:\n", df.fillna(df.mean()))

mean fill:
      c1    c2    c3    c4  c5
a   0.0   1.0   2.0  20.0 NaN
b   3.0   4.0   5.0  19.0 NaN
c   6.0   7.0   8.0  19.0 NaN
d   9.0  10.0  11.0  19.0 NaN
e  12.0  13.0  14.0  19.0 NaN
f  15.0  16.0  17.0  18.0 NaN
g   7.5   8.5   9.5  19.0 NaN

### Interpolation of missing values

In [30]:
s = pd.Series([1,np.nan,np.nan,np.nan,np.nan,np.nan,2])
print("interpolation s:\n", s.interpolate())

interpolation s:
 0    1.000000
1    1.166667
2    1.333333
3    1.500000
4    1.666667
5    1.833333
6    2.000000
dtype: float64

In [35]:
ts = pd.Series([1, np.nan, 2], index=[datetime.datetime(2014, 1, 1), datetime.datetime(2014, 2, 1), datetime.datetime(2014, 4, 1)])
print(ts)

2014-01-01    1.0
2014-02-01    NaN
2014-04-01    2.0
dtype: float64

In [36]:
print("interpolate by datetime\n", ts.interpolate(method='time'))

interpolate by datetime
 2014-01-01    1.000000
2014-02-01    1.344444
2014-04-01    2.000000
dtype: float64

In [37]:
s = pd.Series([0, np.nan, 100], index=[0, 1, 10])
print("interpolate by values\n", s.interpolate(method='values'))

interpolate by values
 2014-01-01    1.000000
2014-02-01    1.344444
2014-04-01    2.000000
dtype: float64