In [3]:
import jieba
import numpy as np
import pandas as pd

data = pd.read_excel("./data/cda1_1.xlsx")
data.head(5)

,主页ID,主页名称,分类,message,name,description,发文类型,y
0,155000000000000,纬来体育台官方粉丝团,电视频道,中华队长林智胜 三分砲！！！\n人如其名 真的「致胜」阿～,NaN,NaN,video,H
1,359000000000,公视粉丝团,电视频道,您所选择的电视频道，将会决定您的未来~\n遥控器的决定权，就在你手上！\n\n#看见更好的未来,2015公视电视募款 公视让你看见更好的未来,这是一个资讯爆炸的时代，你所选择的资讯将决定你的视野；你所选择的电视频道，将会决定你的未来 ...,video,L
2,359000000000,公视粉丝团,电视频道,好演员值得更多肯定和掌声！\n\n吴慷仁提到大概有六、七年资历的演员，所面临的最大困境，是赚...,公视粉丝团,NaN,link,L
3,190000000000,Mobile01,网路社群,大师兄 一发炸裂！！帅啊啊啊啊啊啊啊！！！,来自 Mobile01 贴文的相片,NaN,photo,H
4,359000000000,公视粉丝团,电视频道,「再不救，就来不及了！如果没有很强力的救，再三十年，你可能找不到鹿港的味道了！」\n\n「两...,【我们的岛】抢救鹿港,叶明兰、叶镇中 / 采访报导 「再不救，就来不及了！如果没有很强力的救，再三十年，你可能找不...,link,L

In [4]:
grp = data.pivot_table(index='主页ID', columns='y', values=['分类'], aggfunc='count').droplevel(0, axis=1)
grp

y                   H      L
主页ID
62825073345       4.0   19.0
90420602485       NaN    3.0
101000000000      4.0   34.0
103000000000      NaN    4.0
104000000000      3.0    NaN
...               ...    ...
1500000000000000  NaN   22.0
1510000000000000  1.0   10.0
1550000000000000  NaN    3.0
1620000000000000  NaN   23.0
1650000000000000  NaN  319.0

[120 rows x 2 columns]

In [5]:
grp = grp.fillna(0)
blacklist = grp[ ((grp['H'] <= 1) & (grp['L'] >5)) ]
whitelist = grp[ (grp['L'] == 0) & (grp['H'] > 1) ]
whitelist

y                  H    L
主页ID
104000000000     3.0  0.0
853000000000000  4.0  0.0

In [6]:
# id 发了个多少贴子
# id

In [7]:
data_remove_bw = data[ (~data['主页ID'].isin(blacklist.index.values)) &
                       (~data['主页ID'].isin(whitelist.index.values)) ]
data_remove_bw = data_remove_bw.reset_index()
data_remove_bw

,index,主页ID,主页名称,分类,message,name,description,发文类型,y
0,0,155000000000000,纬来体育台官方粉丝团,电视频道,中华队长林智胜 三分砲！！！\n人如其名 真的「致胜」阿～,NaN,NaN,video,H
1,3,190000000000,Mobile01,网路社群,大师兄 一发炸裂！！帅啊啊啊啊啊啊啊！！！,来自 Mobile01 贴文的相片,NaN,photo,H
2,5,242000000000000,ETtoday新闻云,新闻,爽啦～～～（ Supermm）\n\n#中华队 #古巴\nhttp://www.ettoda...,故意保送后林智胜怒轰3分炮 中华睽违9年击败古巴 | ET运动云 | ETtoday东森新闻云,世界12强棒球赛中华队林智胜，8局下在前一棒郭严文被故意保送成一、二垒有人，轰出左外野3分全...,link,H
3,6,190000000000,Mobile01,网路社群,4：1，中华战胜古巴！今晚是最棒的周末夜，谢谢中华队！请继续加油！,来自 Mobile01 贴文的相片,NaN,photo,H
4,7,109000000000000,Yahoo!奇摩新闻,新闻,一个字，爽！！！！\n\n#12强 #台古大战 #林智胜 #棒球 #三分砲 Lamigo M...,世界12强／林智胜怒轰3分砲！中华队赢古巴啦,今天(14日)「大师兄」林智胜单场被看扁2次...,link,H
...,...,...,...,...,...,...,...,...,...
6483,7824,283000000000,中天快点TV,电视频道,被镶上绿色宝石的番薯，好美！（土星人）\n\n\n---\n●CH52中天新闻On Air！...,从太空夜拍台湾美翻了！ 嘉南平原就像被镶上绿宝石,国际太空站拍下夜晚台湾，影片一上传，立刻受到热烈讨论，不少人都被台湾的美给吸引，?万家灯火构...,link,L
6484,7825,773000000000000,料理高校生,电视剧,【早鸟福利】\n方老师唯美的瞬间，就这样被我们捕捉到了 :P\n今天是11/11光棍节\n想...,动态时报相片,NaN,photo,L
6485,7826,773000000000000,料理高校生,电视剧,佩颖主任啊..\n您就别自暴自弃了~~\n \n莫非是摆脱烂桃花的新招?\n\n每周五晚间十...,动态时报相片,NaN,photo,L
6486,7827,242000000000000,ETtoday新闻云,新闻,快、合、作！（ Joe小姐）\n\n蔡依林 Jolin Tsai T.O.P. G-DRAGON,蔡依林、GD&T.O.P后台照曝光 甜呼：小爱心主人！ | 娱乐星光云 | ETtoday东...,「呸姊」蔡依林2日晚间出席南韩年度盛事MAMA舞台，她一开低胸紧身服装霸气登场，献唱舞曲《P...,link,L
6487,7828,128000000000,天下杂志,书籍杂志,【联合报】 一个班才2、3个人，大学班级变家教班？\n\n4系注册挂零、6校拉警报！！ ↓↓,注册率不到3成 大专67校系快灭顶｜教育｜联合新闻网｜天下杂志,教育部昨公布104学年度大专校院各校系注册率，竟有高达67校系注册率不到3成，学生只有2、3...,link,L

In [8]:
counts50 = grp[(grp['H'] + grp['L'])>=50]
counts50

y                     H       L
主页ID
128000000000        3.0    73.0
188000000000       14.0    77.0
220000000000       16.0    37.0
233000000000      122.0   736.0
283000000000        5.0    74.0
359000000000        0.0   376.0
109000000000000   239.0  1499.0
126000000000000    64.0   477.0
145000000000000    13.0   144.0
166000000000000    11.0    61.0
197000000000000     0.0    62.0
242000000000000   220.0   904.0
261000000000000     2.0   121.0
295000000000000    88.0    71.0
353000000000000    13.0   125.0
395000000000000    28.0   409.0
419000000000000     1.0    68.0
773000000000000     6.0    87.0
983000000000000     0.0   103.0
1430000000000000   59.0   130.0
1650000000000000    0.0   319.0

In [9]:
counts50['hl_score'] = counts50['H'] / (counts50['H'] + counts50['L'])
counts50

<ipython-input-9-18d46f2e8c93>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counts50['hl_score'] = counts50['H'] / (counts50['H'] + counts50['L'])

y                     H       L  hl_score
主页ID
128000000000        3.0    73.0  0.039474
188000000000       14.0    77.0  0.153846
220000000000       16.0    37.0  0.301887
233000000000      122.0   736.0  0.142191
283000000000        5.0    74.0  0.063291
359000000000        0.0   376.0  0.000000
109000000000000   239.0  1499.0  0.137514
126000000000000    64.0   477.0  0.118299
145000000000000    13.0   144.0  0.082803
166000000000000    11.0    61.0  0.152778
197000000000000     0.0    62.0  0.000000
242000000000000   220.0   904.0  0.195730
261000000000000     2.0   121.0  0.016260
295000000000000    88.0    71.0  0.553459
353000000000000    13.0   125.0  0.094203
395000000000000    28.0   409.0  0.064073
419000000000000     1.0    68.0  0.014493
773000000000000     6.0    87.0  0.064516
983000000000000     0.0   103.0  0.000000
1430000000000000   59.0   130.0  0.312169
1650000000000000    0.0   319.0  0.000000

In [10]:
data_tmp = pd.merge(data_remove_bw, counts50, how='left', on='主页ID')
data_hl_score = data_tmp['hl_score'].fillna(0)
data_hl_score

0       0.000000
1       0.000000
2       0.195730
3       0.000000
4       0.137514
          ...
6483    0.063291
6484    0.064516
6485    0.064516
6486    0.195730
6487    0.039474
Name: hl_score, Length: 6488, dtype: float64

In [11]:
data_remove_bw['分类'].value_counts()

新闻        4701
书籍杂志       754
媒体其他       244
节目         220
网路社群       219
电视频道       175
电视剧        109
电影公司        46
电影           7
广播           5
音乐           4
电影相关活动       4
Name: 分类, dtype: int64

In [12]:
from Python.pandas.feature_selection import *

column_mapping_str(data_remove_bw['分类'].unique())

"{'电视频道': 0, '网路社群': 1, '新闻': 2, '书籍杂志': 3, '电影公司': 4, '节目': 5, '媒体其他': 6, '电影': 7, '电视剧': 8, '音乐': 9, '电影相关活动': 10, '广播': 11}"

In [13]:
fl_mapping = {'电视频道': 0, '网路社群': 1, '新闻': 2, '书籍杂志': 3, '电视剧': 4, '电影公司': 5, " \
             "'节目': 6, '媒体其他': 7, '电影': 5, '音乐': 7, '电影相关活动': 5, '广播': 7}
data_fl, fl_ohe = one_hot_encoder_column(data_remove_bw, '分类', fl_mapping, fill_na=7)
data_fl = pd.DataFrame(data_fl)
data_fl

      分类_0  分类_1  分类_2  分类_3  分类_4  分类_5
0      0.0   0.0   0.0   0.0   0.0   0.0
1      1.0   0.0   0.0   0.0   0.0   0.0
2      0.0   1.0   0.0   0.0   0.0   0.0
3      1.0   0.0   0.0   0.0   0.0   0.0
4      0.0   1.0   0.0   0.0   0.0   0.0
...    ...   ...   ...   ...   ...   ...
6483   0.0   0.0   0.0   0.0   0.0   0.0
6484   0.0   0.0   0.0   1.0   0.0   0.0
6485   0.0   0.0   0.0   1.0   0.0   0.0
6486   0.0   1.0   0.0   0.0   0.0   0.0
6487   0.0   0.0   1.0   0.0   0.0   0.0

[6488 rows x 6 columns]

In [14]:
doc_type_map = {'link': 1, 'photo': 2, 'video': 3}
data_doc_type, ohe_doc_type = one_hot_encoder_column(data_remove_bw, '发文类型', doc_type_map, fill_na=3)
data_doc_type

      发文类型_0  发文类型_1
0        0.0     1.0
1        1.0     0.0
2        0.0     0.0
3        1.0     0.0
4        0.0     0.0
...      ...     ...
6483     0.0     0.0
6484     1.0     0.0
6485     1.0     0.0
6486     0.0     0.0
6487     0.0     0.0

[6488 rows x 2 columns]

In [15]:
colNullCount = data.isnull().sum(axis=0)
colNullCount

主页ID              0
主页名称              0
分类                0
message          24
name            282
description    2046
发文类型              0
y                 0
dtype: int64

In [16]:
colNullCount = colNullCount[colNullCount > 0]
for col_name in colNullCount.index:
    print("%s 共有 %d 个空值，占比 %.2f%%" % (col_name, colNullCount[col_name], colNullCount[col_name]*100.0/data.shape[0]))
    if colNullCount[col_name]*100.0/data.shape[0] < 0.01:
        print("%s 缺失个数较少，建议执行如下代码直接删除该行：" % col_name)
# data.drop(labels = data[data["message"].isnull()].index, axis=0,inplace=True)

message 共有 24 个空值，占比 0.31%
name 共有 282 个空值，占比 3.60%
description 共有 2046 个空值，占比 26.13%

In [3]:
from Python.nlp.nlp import *
stop_words = get_stop_words('./data/stopwords.txt', encoding='gbk')

print(split_word("#台古大战 #12强 #棒球 #阳岱钢 阳岱钢 DAIKAN YOH #中华队",
                 stop_words, ['蔡依林', '叶明兰','叶镇中', '宋家豪', '白先勇','林智胜']))

Building prefix dict from the default dictionary ...

total counts:  2625

Dumping model to file cache /var/folders/zz/8hl03_bd6sj_wrd8__z72r8r0000gn/T/jieba.cache
Loading model cost 1.337 seconds.
Prefix dict has been built successfully.

台古 大战 强 棒球 阳岱 钢 阳岱 钢 中华队

In [22]:
data_all = data.apply(lambda x: split_word(
    str(x['message']) + str(x['name']) + str(x['description']),
    stop_words, ['蔡依林', '叶明兰','叶镇中', '宋家豪', '白先勇','林智胜']),
                      axis=1)
data_all

0                                     中华 队长 林智胜 三分 砲 名 致胜
1       选择 电视频道 将会 未来 遥控器 决定权 手上 更好 未来 公视 电视 募款 公视 更好 ...
2       演员 值得 肯定 掌声 吴慷仁 提到 七年 资历 演员 面临 困境 赚 不到 钱 去年 中国...
3                                师兄 一发 炸裂 帅 啊啊啊 啊啊啊 贴文 相片
4       不救 强力 救 三十年 找 不到 鹿港 味道 两百年 老房子 消失 速度 月 一栋 拆 一府...
                              ...
7824    镶上 绿色 宝石 番薯 好美 土星 中天 新闻 高画质 直播 网址 直播 时段 早上 点 凌...
7825    早鸟 福利 老师 唯美 瞬间 捕捉到 光棍节 告诉 单身 朋友 孤单 注 深夜 福利 早鸟 ...
7826    佩颖 主任 自暴自弃 摆脱 烂 桃花 新招 每周五 晚间 十点 三立 台 每周六 晚间 八点...
7827    合 作 小姐 蔡依林 蔡依林 后台 照曝光 甜呼 爱心 主人 娱乐 星光 云 东森 新闻 云...
7828    联合报 一个班 大学 班级 变 家教 班 系 注册 挂零 校拉 警报 注册 率 不到 成 大...
Length: 7829, dtype: object

In [ ]:
tfidf_doc, tfidf_vec, tfidf_pca = tfidf(data_all, min_df=10, output_dimension=100)
tfidf_doc

In [ ]:
doc_removed = data_remove_bw.apply(lambda x: split_word(str(x['message']) + str(x['name']) + str(x['description']), stop_words, ['蔡依林', '叶明兰','叶镇中', '宋家豪', '白先勇','林智胜']), axis=1)

In [ ]:
doc = tfidf_vec.transform(doc_removed)
doc_df = pd.DataFrame(doc.toarray(), columns=tfidf_vec.get_feature_names_out())
doc = pd.DataFrame(tfidf_pca.transform(doc_df))
doc

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
from sklearn.decomposition import PCA

tfidf = TfidfVectorizer(min_df=10)
x = tfidf.fit_transform(data_all)
df = pd.DataFrame(x.toarray(), columns=tfidf_vec.get_feature_names())

In [ ]:
pca = PCA(n_components=100)
x_pca = pca.fit_transform(df)
x_pca

In [ ]:
y_mapping = {'L': 0, 'H': 1}
data_y = data_remove_bw['y'].map(y_mapping)
data_y

In [ ]:
train_set1 = pd.concat([data_hl_score, data_fl, data_doc_type, doc, data_y], axis=1)
train_set1.to_csv("./data/1_train1.csv", index=False)

In [ ]:
test = pd.read_excel("././data/1_test.xlsx")
test_tmp = pd.merge(test, counts50, how='left', on='主页ID')
test_hl_score = test_tmp['hl_score'].fillna(0)
test_fl, fl_ohe = one_hot_encoder_column(test, '分类', fl_mapping, fill_na=7)
test_fl = pd.DataFrame(data_fl)
test_doc_type, ohe_doc_type = one_hot_encoder_column(test, '发文类型', doc_type_map, fill_na=3)
test_all = test.apply(lambda x: split_word(str(x['message']) + str(x['name']) + str(x['description']), stop_words, ['蔡依林', '叶明兰','叶镇中', '宋家豪', '白先勇','林智胜']), axis=1)
test_doc = tfidf_vec.transform(test_all)
test_doc_df = pd.DataFrame(test_doc.toarray(), columns=tfidf_vec.get_feature_names_out())

test_set = pd.concat([data_hl_score, data_fl, data_doc_type, test_doc_df], axis=1)
test_set.to_csv("./data/1_test1.csv", index=False)

In [ ]:
blacklist['主页ID'].to_csv("./data/blacklist.csv")