In [1]:
import numpy as np
import pandas as pd

data = pd.read_excel("./data/1_train.xlsx")
data.head(5)

,主页ID,主页名称,分类,message,name,description,发文类型,y
0,155000000000000,纬来体育台官方粉丝团,电视频道,中华队长林智胜 三分砲！！！\n人如其名 真的「致胜」阿～,NaN,NaN,video,H
1,359000000000,公视粉丝团,电视频道,您所选择的电视频道，将会决定您的未来~\n遥控器的决定权，就在你手上！\n\n#看见更好的未来,2015公视电视募款 公视让你看见更好的未来,这是一个资讯爆炸的时代，你所选择的资讯将决定你的视野；你所选择的电视频道，将会决定你的未来 ...,video,L
2,359000000000,公视粉丝团,电视频道,好演员值得更多肯定和掌声！\n\n吴慷仁提到大概有六、七年资历的演员，所面临的最大困境，是赚...,公视粉丝团,NaN,link,L
3,190000000000,Mobile01,网路社群,大师兄 一发炸裂！！帅啊啊啊啊啊啊啊！！！,来自 Mobile01 贴文的相片,NaN,photo,H
4,359000000000,公视粉丝团,电视频道,「再不救，就来不及了！如果没有很强力的救，再三十年，你可能找不到鹿港的味道了！」\n\n「两...,【我们的岛】抢救鹿港,叶明兰、叶镇中 / 采访报导 「再不救，就来不及了！如果没有很强力的救，再三十年，你可能找不...,link,L

In [2]:
grp = data.pivot_table(index='主页ID', columns='y', values=['分类'], aggfunc='count').droplevel(0, axis=1)
grp = grp.fillna(0)
blacklist = grp[((grp['H'] <= 1) & (grp['L'] > 5))]
whitelist = grp[(grp['L'] == 0) & (grp['H'] > 1)]

In [3]:
data_remove_bw = data[(~data['主页ID'].isin(blacklist.index.values)) & (~data['主页ID'].isin(whitelist.index.values))]
data_remove_bw = data_remove_bw.reset_index()
data_remove_bw

,index,主页ID,主页名称,分类,message,name,description,发文类型,y
0,0,155000000000000,纬来体育台官方粉丝团,电视频道,中华队长林智胜 三分砲！！！\n人如其名 真的「致胜」阿～,NaN,NaN,video,H
1,3,190000000000,Mobile01,网路社群,大师兄 一发炸裂！！帅啊啊啊啊啊啊啊！！！,来自 Mobile01 贴文的相片,NaN,photo,H
2,5,242000000000000,ETtoday新闻云,新闻,爽啦～～～（ Supermm）\n\n#中华队 #古巴\nhttp://www.ettoda...,故意保送后林智胜怒轰3分炮 中华睽违9年击败古巴 | ET运动云 | ETtoday东森新闻云,世界12强棒球赛中华队林智胜，8局下在前一棒郭严文被故意保送成一、二垒有人，轰出左外野3分全...,link,H
3,6,190000000000,Mobile01,网路社群,4：1，中华战胜古巴！今晚是最棒的周末夜，谢谢中华队！请继续加油！,来自 Mobile01 贴文的相片,NaN,photo,H
4,7,109000000000000,Yahoo!奇摩新闻,新闻,一个字，爽！！！！\n\n#12强 #台古大战 #林智胜 #棒球 #三分砲 Lamigo M...,世界12强／林智胜怒轰3分砲！中华队赢古巴啦,今天(14日)「大师兄」林智胜单场被看扁2次...,link,H
...,...,...,...,...,...,...,...,...,...
6483,7824,283000000000,中天快点TV,电视频道,被镶上绿色宝石的番薯，好美！（土星人）\n\n\n---\n●CH52中天新闻On Air！...,从太空夜拍台湾美翻了！ 嘉南平原就像被镶上绿宝石,国际太空站拍下夜晚台湾，影片一上传，立刻受到热烈讨论，不少人都被台湾的美给吸引，?万家灯火构...,link,L
6484,7825,773000000000000,料理高校生,电视剧,【早鸟福利】\n方老师唯美的瞬间，就这样被我们捕捉到了 :P\n今天是11/11光棍节\n想...,动态时报相片,NaN,photo,L
6485,7826,773000000000000,料理高校生,电视剧,佩颖主任啊..\n您就别自暴自弃了~~\n \n莫非是摆脱烂桃花的新招?\n\n每周五晚间十...,动态时报相片,NaN,photo,L
6486,7827,242000000000000,ETtoday新闻云,新闻,快、合、作！（ Joe小姐）\n\n蔡依林 Jolin Tsai T.O.P. G-DRAGON,蔡依林、GD&T.O.P后台照曝光 甜呼：小爱心主人！ | 娱乐星光云 | ETtoday东...,「呸姊」蔡依林2日晚间出席南韩年度盛事MAMA舞台，她一开低胸紧身服装霸气登场，献唱舞曲《P...,link,L
6487,7828,128000000000,天下杂志,书籍杂志,【联合报】 一个班才2、3个人，大学班级变家教班？\n\n4系注册挂零、6校拉警报！！ ↓↓,注册率不到3成 大专67校系快灭顶｜教育｜联合新闻网｜天下杂志,教育部昨公布104学年度大专校院各校系注册率，竟有高达67校系注册率不到3成，学生只有2、3...,link,L

In [4]:
counts50 = grp[(grp['H'] + grp['L'])>=50]
counts50['hl_score'] = counts50['H'] / (counts50['H'] + counts50['L'])
data_tmp = pd.merge(data_remove_bw, counts50, how='left', on='主页ID')
data_hl_score = data_tmp['hl_score'].fillna(0)
data_hl_score

<ipython-input-4-98680c47fbca>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  counts50['hl_score'] = counts50['H'] / (counts50['H'] + counts50['L'])

0       0.000000
1       0.000000
2       0.195730
3       0.000000
4       0.137514
          ...
6483    0.063291
6484    0.064516
6485    0.064516
6486    0.195730
6487    0.039474
Name: hl_score, Length: 6488, dtype: float64

In [5]:
from Python.pandas.feature_selection import *

column_mapping_str(data_remove_bw['分类'].unique())
fl_mapping = {'电视频道': 0, '网路社群': 1, '新闻': 2, '书籍杂志': 3, '电视剧': 4, '电影公司': 5, " \
             "'节目': 6, '媒体其他': 7, '电影': 5, '音乐': 7, '电影相关活动': 5, '广播': 7}
data_fl, fl_ohe = one_hot_encoder_column(data_remove_bw, '分类', fl_mapping, fill_na=7)
data_fl = pd.DataFrame(data_fl)
data_fl

      分类_0  分类_1  分类_2  分类_3  分类_4  分类_5
0      0.0   0.0   0.0   0.0   0.0   0.0
1      1.0   0.0   0.0   0.0   0.0   0.0
2      0.0   1.0   0.0   0.0   0.0   0.0
3      1.0   0.0   0.0   0.0   0.0   0.0
4      0.0   1.0   0.0   0.0   0.0   0.0
...    ...   ...   ...   ...   ...   ...
6483   0.0   0.0   0.0   0.0   0.0   0.0
6484   0.0   0.0   0.0   1.0   0.0   0.0
6485   0.0   0.0   0.0   1.0   0.0   0.0
6486   0.0   1.0   0.0   0.0   0.0   0.0
6487   0.0   0.0   1.0   0.0   0.0   0.0

[6488 rows x 6 columns]

In [6]:
doc_type_map = {'link': 1, 'photo': 2, 'video': 3}
data_doc_type, ohe_doc_type = one_hot_encoder_column(data_remove_bw, '发文类型', doc_type_map, fill_na=3)
data_doc_type

      发文类型_0  发文类型_1
0        0.0     1.0
1        1.0     0.0
2        0.0     0.0
3        1.0     0.0
4        0.0     0.0
...      ...     ...
6483     0.0     0.0
6484     1.0     0.0
6485     1.0     0.0
6486     0.0     0.0
6487     0.0     0.0

[6488 rows x 2 columns]

In [7]:
colNullCount = data.isnull().sum(axis=0)
colNullCount = colNullCount[colNullCount > 0]
for col_name in colNullCount.index:
    print("%s 共有 %d 个空值，占比 %.2f%%" % (col_name, colNullCount[col_name], colNullCount[col_name]*100.0/data.shape[0]))
    if colNullCount[col_name]*100.0/data.shape[0] < 0.01:
        print("%s 缺失个数较少，建议执行如下代码直接删除该行：" % col_name)
# data.drop(labels = data[data["message"].isnull()].index, axis=0,inplace=True)

message 共有 24 个空值，占比 0.31%
name 共有 282 个空值，占比 3.60%
description 共有 2046 个空值，占比 26.13%

In [8]:
from Python.nlp.nlp import *
stop_words = get_stop_words('././data/stopwords.txt', encoding='gbk')

print(split_word("「呸姊」蔡依林2日晚间出席南韩年度盛事MAMA舞台，她一开低胸紧身服装霸气登场，献唱舞曲《P...",
                 stop_words, ['蔡依林', '叶明兰','叶镇中', '宋家豪', '白先勇','林智胜']))

Building prefix dict from the default dictionary ...
Loading model from cache /var/folders/zz/8hl03_bd6sj_wrd8__z72r8r0000gn/T/jieba.cache

total counts:  2625

Loading model cost 0.936 seconds.
Prefix dict has been built successfully.

姊 蔡依林 晚间 出席 南韩 年度 盛事 舞台 一开 低胸 紧身 服装 霸气 登场 献唱 舞曲

In [14]:
data_all = data.apply(lambda x: split_word(str(x['message']) + str(x['name']) + str(x['description']), stop_words, ['蔡依林', '叶明兰','叶镇中', '宋家豪', '白先勇','林智胜']), axis=1)
tfidf_doc, tfidf_vec, tfidf_pca = tfidf(data_all, min_df=10, output_dimension=100)

/opt/anaconda3/lib/python3.8/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

0                                  中华 队长 林智胜 三分 砲 名 真的 致胜
1       选择 电视频道 将会 未来 遥控器 决定权 手上 更好 未来 公视 电视 募款 公视 更好 ...
2       演员 值得 肯定 掌声 吴慷仁 提到 七年 资历 演员 面临 困境 赚 不到 钱 去年 中国...
3                                师兄 一发 炸裂 帅 啊啊啊 啊啊啊 贴文 相片
4       不救 强力 救 三十年 找 不到 鹿港 味道 两百年 老房子 消失 速度 一栋 拆 一府 二...
                              ...
6483    警察 想要 厘清 狗狗 自愿 是非 自愿 咬 狗 警察 应 给予 鼓励 小狗 咬 警竟 问 ...
6484    一对 看完 电影 朋友 特别 路过 合照 邮筒 求情 拜 讬 邮局 撤掉 民众 陈先生 两支...
6485    金钟 戏剧 节目 男 主角奖 出炉 恭喜 蓝正龙 金钟 金钟奖 最佳 男主角 妹妹 蓝正龙 ...
6486    新娘 放下 婚纱 拍摄 救援 话 说 这件 礼服 好花 游客 心脏病发 溺水 最美 新娘 穿...
6487    台湾 之光 台湾 陈永信 夺 法国 世界 面包 大赛 第一 国旗 飘扬 颁奖 会场 法国 里...
Length: 6488, dtype: object

In [19]:
doc_removed = data_remove_bw.apply(lambda x: split_word(str(x['message']) + str(x['name']) + str(x['description']), stop_words, ['蔡依林', '叶明兰','叶镇中', '宋家豪', '白先勇','林智胜']), axis=1)

In [22]:
doc = tfidf_vec.transform(doc_removed)
doc_df = pd.DataFrame(doc.toarray(), columns=tfidf_vec.get_feature_names_out())
doc = pd.DataFrame(tfidf_pca.transform(doc_df))
doc

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,-0.039192,-0.038563,0.168703,0.061999,0.000633,-0.038481,-0.000654,-0.021297,0.020170,-0.003322,...,0.028425,-0.044243,-0.024088,0.005090,0.005807,0.002831,0.010431,-0.007305,-0.002667,-0.016974
1,0.094015,-0.014286,0.013737,0.072448,0.014384,-0.035738,0.033304,-0.001951,-0.006725,0.009152,...,-0.025255,0.016098,-0.018707,0.045279,0.007624,-0.009374,-0.028370,0.004959,0.034070,0.016570
2,-0.051535,-0.066066,0.448257,0.159121,0.022046,-0.102179,-0.018500,-0.044026,0.030841,0.025909,...,-0.043962,0.124890,0.103064,-0.055322,0.016862,0.005959,0.007783,-0.024258,-0.033020,0.012686
3,0.107021,-0.026306,0.303329,0.161236,0.054155,-0.111780,0.020556,0.012609,0.027711,0.045554,...,0.053255,0.127419,0.011037,-0.061813,-0.013720,0.012250,-0.078850,-0.047656,0.047896,0.034554
4,-0.046946,-0.062756,0.449642,0.156962,0.028894,-0.086772,-0.012549,-0.047802,0.045941,0.005807,...,0.001261,-0.025052,-0.015742,0.001451,-0.000489,-0.003863,-0.005148,-0.003639,-0.023915,-0.002191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6483,-0.060202,-0.026958,0.044827,-0.013451,0.000749,0.159160,0.026806,0.188326,-0.050055,-0.029486,...,0.004236,0.012359,-0.019418,0.005282,0.030282,-0.030119,-0.044935,-0.009208,0.019872,0.024756
6484,0.076313,-0.010486,-0.001174,-0.051529,-0.016056,-0.054954,0.149268,-0.015995,0.011761,-0.003628,...,0.024944,0.007344,0.013967,0.022074,-0.016797,-0.001964,-0.002799,-0.007640,-0.000614,-0.019085
6485,0.235569,0.008297,0.031006,-0.118937,0.033486,-0.112580,0.322192,0.007380,0.023834,0.032763,...,0.020644,0.062094,0.034240,-0.006946,0.069757,0.044543,0.053646,-0.032118,0.004550,0.030185
6486,-0.060805,-0.028398,-0.009675,-0.001242,-0.019219,0.001491,-0.025052,0.076888,-0.142737,0.111749,...,-0.033034,0.003677,0.011217,-0.033671,0.016235,0.031695,0.006337,-0.004685,0.027682,0.009564
6487,-0.039725,-0.021838,-0.022518,-0.007114,-0.000133,0.000501,0.008241,-0.035127,0.030657,-0.044224,...,0.031719,0.010655,0.062852,0.011448,0.029184,-0.036609,0.032885,-0.024917,0.036968,-0.029370

In [13]:
y_mapping = {'L': 0, 'H': 1}
data_y = data_remove_bw['y'].map(y_mapping)

In [23]:
train_set1 = pd.concat([data_hl_score, data_fl, data_doc_type, doc, data_y], axis=1)
train_set1.to_csv("./data/1_train1.csv")