In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("./data/3_train.csv")
data.head(5)

,ID,area,ck,ck-saveall,ck-drawall,ck-savetime,ck-drawtime,ck-saveavg,ck-drawavg,ck-avg,...,dep-avg,dep-9201,fed-9201,fed-avg,comp,ck-changame,dep-changame,ck-changtime,dep-changtime,VV
0,3,709,0,?,NaN,?,?,0,NaN,?,...,0,0,NaN,0,0,0,0,0,0,0
1,4,.,NaN,0,0,0,NaN,0,0,?,...,0,?,?,0,0,0,0,0,0,0
2,5,616,?,0,.,0,0,0,NaN,0,...,0,NaN,0,.,0,0,0,0,.,0
3,6,615,0,0,0,?,NaN,?,0,0,...,0,0,0,NaN,0,0,0,0,0,0
4,7,.,0,0,0,NaN,.,?,0,NaN,...,0,0,0,0,?,0,0,?,0,0

In [3]:
from Python.pandas.feature_selection import *
object_feature_helper(data)

---------------------------------------------
data contains [ 26144 ] records
ID do not have any null values.
ID  is numeric column:
count    26144.000000
mean     16333.478045
std       9429.671054
min          3.000000
25%       8139.250000
50%      16340.500000
75%      24498.250000
max      32682.000000
Name: ID, dtype: float64



---------------------------------------------
area have 1721 null values:

area  has [ 489 ] different values, please create features yourself!
please notice here are some seldom_indexes:  Index(['815', '23700', '840', '90900', '260', '90800', '545', '826', '638',
       '974',
       ...
       '605', '98300', '544', '26500', '31200', '263', '513', '74500', '223',
       '270'],
      dtype='object', length=253)



---------------------------------------------
ck have 1641 null values:

0    12749
1     6717
?     3370
.     1667
Name: ck, dtype: int64
use following code to generate features from label mapping:
ck_mapping = {'0': 0, '1': 1, '?': 2, '.': 3}
#TODO: add your logic to handle None
data_ck, ck_ohe = one_hot_encoder_column(data, 'ck', ck_mapping, fill_na=99)



---------------------------------------------
ck-saveall have 1640 null values:

ck-saveall  has [ 2280 ] different values, please create features yourself!
please notice here are some seldom_indexes:  Index(['281156', '397373', '405000', '143687', '9968000', '1378000',
       '70215878', '844789', '457180', '975000',
       ...
       '3229620', '4600', '5278671', '1170000', '16835237', '232800', '35000',
       '704660', '20200', '10966748'],
      dtype='object', length=2210)



---------------------------------------------
ck-drawall have 1695 null values:

ck-drawall  has [ 2203 ] different values, please create features yourself!
please notice here are some seldom_indexes:  Index(['26861', '3325735', '626346', '113684621', '83774178', '4144746',
       '30506019', '160390', '145748', '2577569',
       ...
       '4015799', '2112638', '132146558', '122900', '4988156', '5199', '58371',
       '6765647', '1170000', '418396'],
      dtype='object', length=2154)



---------------------------------------------
ck-savetime have 1626 null values:

ck-savetime  has [ 182 ] different values, please create features yourself!
please notice here are some seldom_indexes:  Index(['39', '47', '51', '57', '46', '56', '53', '58', '54', '73',
       ...
       '183', '218', '997', '149', '173', '263', '150', '98', '182', '167'],
      dtype='object', length=133)



---------------------------------------------
ck-drawtime have 1649 null values:

ck-drawtime  has [ 302 ] different values, please create features yourself!
please notice here are some seldom_indexes:  Index(['60', '123', '75', '63', '53', '59', '91', '101', '74', '97',
       ...
       '666', '1623', '204', '190', '209', '452', '227', '234', '146', '329'],
      dtype='object', length=240)



---------------------------------------------
ck-saveavg have 1659 null values:

ck-saveavg  has [ 2280 ] different values, please create features yourself!
please notice here are some seldom_indexes:  Index(['66028', '121231', '377617', '35130', '18835', '19260', '11585',
       '40724', '1412043', '46985',
       ...
       '128868', '77802', '23343', '104701', '93667', '43645', '546221',
       '23251', '334909', '37806'],
      dtype='object', length=2213)



---------------------------------------------
ck-drawavg have 1690 null values:

ck-drawavg  has [ 2209 ] different values, please create features yourself!
please notice here are some seldom_indexes:  Index(['78346', '51064', '8855', '27465', '405000', '46027', '9070', '606494',
       '73521', '25900',
       ...
       '53282315', '5199', '182656', '690046', '54208', '45379', '25450',
       '12317', '59607', '2130'],
      dtype='object', length=2147)



---------------------------------------------
ck-avg have 1632 null values:

ck-avg  has [ 2206 ] different values, please create features yourself!
please notice here are some seldom_indexes:  Index(['11673', '2962', '14221', '7954', '16707', '2727', '28105', '1661',
       '93586', '1918',
       ...
       '17196', '26222', '1860', '7792', '1367', '1769', '51381', '7167',
       '6681', '14457'],
      dtype='object', length=1684)



---------------------------------------------
dep-saveall have 1572 null values:

dep-saveall  has [ 6688 ] different values, please create features yourself!
please notice here are some seldom_indexes:  Index([], dtype='object')



---------------------------------------------
dep-drawall have 1673 null values:

dep-drawall  has [ 6706 ] different values, please create features yourself!
please notice here are some seldom_indexes:  Index([], dtype='object')



---------------------------------------------
dep-savetime have 1598 null values:

dep-savetime  has [ 509 ] different values, please create features yourself!
please notice here are some seldom_indexes:  Index(['166', '109', '181', '147', '132', '189', '159', '140', '149', '169',
       ...
       '410', '708', '323', '643', '875', '413', '419', '1691', '380', '264'],
      dtype='object', length=380)



---------------------------------------------
dep-drawtime have 1774 null values:

dep-drawtime  has [ 390 ] different values, please create features yourself!
please notice here are some seldom_indexes:  Index(['134', '102', '96', '120', '137', '152', '182', '180', '107', '133',
       ...
       '355', '618', '279', '751', '286', '2923', '2771', '715', '314', '174'],
      dtype='object', length=273)



---------------------------------------------
depsaveavg have 1662 null values:

depsaveavg  has [ 6648 ] different values, please create features yourself!
please notice here are some seldom_indexes:  Index([], dtype='object')



---------------------------------------------
depdrawavg have 1718 null values:

depdrawavg  has [ 6787 ] different values, please create features yourself!
please notice here are some seldom_indexes:  Index([], dtype='object')



---------------------------------------------
dep-avg have 1646 null values:

dep-avg  has [ 6469 ] different values, please create features yourself!
please notice here are some seldom_indexes:  Index([], dtype='object')



---------------------------------------------
dep-9201 have 1640 null values:

dep-9201  has [ 3831 ] different values, please create features yourself!
please notice here are some seldom_indexes:  Index([], dtype='object')



---------------------------------------------
fed-9201 have 1634 null values:

fed-9201  has [ 396 ] different values, please create features yourself!
please notice here are some seldom_indexes:  Index(['3470', '28', '3', '3471', '3478', '553', '3808', '49', '84', '27',
       ...
       '108', '6009', '1941', '3476', '10258', '1365', '7', '9739', '3719795',
       '3475'],
      dtype='object', length=393)



---------------------------------------------
fed-avg have 1622 null values:

fed-avg  has [ 362 ] different values, please create features yourself!
please notice here are some seldom_indexes:  Index(['317', '2', '4', '291', '6', '12', '289', '293', '290', '3',
       ...
       '1623', '21394', '4609636', '666', '2445', '4451', '145', '221', '559',
       '33259'],
      dtype='object', length=358)



---------------------------------------------
comp have 1649 null values:

0    17157
?     3286
1     2401
.     1651
Name: comp, dtype: int64
use following code to generate features from label mapping:
comp_mapping = {'0': 0, '?': 1, '1': 2, '.': 3}
#TODO: add your logic to handle None
data_comp, comp_ohe = one_hot_encoder_column(data, 'comp', comp_mapping, fill_na=99)



---------------------------------------------
ck-changame have 1637 null values:

ck-changame  has [ 2056 ] different values, please create features yourself!
please notice here are some seldom_indexes:  Index(['274585', '15864765', '8768914', '5041187', '569495', '6436034',
       '46980', '1932900', '2023909', '22307884',
       ...
       '58371', '2401805', '593600', '2815948', '35000', '2453046', '63223',
       '20200', '1140060', '418396'],
      dtype='object', length=2007)



---------------------------------------------
dep-changame have 1657 null values:

dep-changame  has [ 4272 ] different values, please create features yourself!
please notice here are some seldom_indexes:  Index([], dtype='object')



---------------------------------------------
ck-changtime have 1678 null values:

ck-changtime  has [ 281 ] different values, please create features yourself!
please notice here are some seldom_indexes:  Index(['36', '34', '91', '88', '63', '35', '68', '64', '78', '71',
       ...
       '116', '188', '192', '645', '412', '182', '331', '776', '155', '270'],
      dtype='object', length=230)



---------------------------------------------
dep-changtime have 1627 null values:

dep-changtime  has [ 353 ] different values, please create features yourself!
please notice here are some seldom_indexes:  Index(['130', '84', '71', '94', '99', '114', '79', '66', '83', '62',
       ...
       '1687', '352', '993', '16860', '341', '310', '219', '353', '175',
       '270'],
      dtype='object', length=272)



---------------------------------------------
VV do not have any null values.
VV  is numeric column:
count    26144.000000
mean         0.022567
std          0.148522
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          1.000000
Name: VV, dtype: float64



---------------------------------------------

In [4]:
def area_handler(area):
    if area in ['.', 'nan', '?']:
        return 0
    if len(area) < 3:
        return str(area) + "00"
    return str(area)[:3]

data_area = data['area'].apply(lambda area: area_handler(str(area)))
data_area1 = data_area.apply(lambda area: str(area)[:1])
from sklearn.preprocessing import OneHotEncoder
area_ohe = OneHotEncoder(drop='first')
data_area1_ohe = area_ohe.fit_transform(data_area1.values.reshape(-1,1))
data_area1_ohe = pd.DataFrame(data_area1_ohe.toarray(), index=data.index)
data_area1_ohe

         0    1    2    3    4    5    6    7    8
0      0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0
1      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2      0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
3      0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0
4      0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...
26139  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
26140  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0
26141  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
26142  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
26143  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[26144 rows x 9 columns]

In [5]:
ck_mapping = {'0': 0, '1': 1, '?': 0, '.': 0}
data_ck, ck_ohe = one_hot_encoder_column(data, 'ck', ck_mapping, fill_na=0)

In [6]:
def numeric_to_int(x, na_val=-1):
    if x is None:
        return na_val
    if type(x) == str:
        if x in ['?', '.', 'NaN']:
            return na_val
        return int(x)
    if np.isnan(x):
        return na_val
    return x
def multi_fit(x, y, z):
    newx = numeric_to_int(x)
    newy = numeric_to_int(y)
    newz = numeric_to_int(z)
    if newx == -1:
        if newy != -1 and newz != -1:
            newx = newy * newz

    if newy == -1:
        if newx != -1 and newz > 0:
            newy = newx / newz
    if newz == -1:
        if newx != -1 and newy > 0:
            newz = newx / newy

    return newx, newy, newz
data_ck_saveall, data_ck_savetime, data_ck_saveavg = \
    zip(*data.apply(lambda row: multi_fit(row['ck-saveall'], row['ck-savetime'], row['ck-saveavg']), axis=1))
data_ckall = pd.concat([pd.Series(data_ck_saveall), pd.Series(data_ck_savetime), pd.Series(data_ck_saveavg)], axis=1)

In [7]:
data_dk_saveall, data_dk_savetime, data_dk_saveavg = \
    zip(*data.apply(lambda row: multi_fit(row['ck-drawall'], row['ck-drawtime'], row['ck-drawavg']), axis=1))
data_dkall = pd.concat([pd.Series(data_dk_saveall), pd.Series(data_dk_savetime), pd.Series(data_dk_saveavg)], axis=1)

In [8]:
data_ck_avg = data['ck-avg'].apply(lambda x: numeric_to_int(x, na_val=0))
data_ck_avg

0           0
1           0
2           0
3           0
4           0
         ...
26139       0
26140       0
26141       0
26142       0
26143    1149
Name: ck-avg, Length: 26144, dtype: int64

In [9]:
data_dep_avg = data['dep-avg'].apply(lambda x: numeric_to_int(x, na_val=0))
data_dep_avg

0            0
1            0
2            0
3            0
4            0
         ...
26139     1443
26140    25566
26141     2173
26142        0
26143        0
Name: dep-avg, Length: 26144, dtype: int64

In [10]:
data_dep9201 = data['dep-9201'].apply(lambda x: numeric_to_int(x, na_val=0))
data_fed9201 = data['fed-9201'].apply(lambda x: numeric_to_int(x, na_val=0))
data_fed_avg = data['fed-avg'].apply(lambda x: numeric_to_int(x, na_val=0))

In [11]:
data_ck_changame = data['ck-changame'].apply(lambda x: numeric_to_int(x, na_val=0))
data_dep_changame = data['dep-changame'].apply(lambda x: numeric_to_int(x, na_val=0))
data_ck_changtime = data['ck-changtime'].apply(lambda x: numeric_to_int(x, na_val=0))
data_dep_changtime = data['dep-changtime'].apply(lambda x: numeric_to_int(x, na_val=0))

In [12]:
comp_mapping = {'0': 0, '?': 0, '1': 1, '.': 0}
data_comp, comp_ohe = one_hot_encoder_column(data, 'comp', comp_mapping, fill_na=0)

In [13]:
data_y = data['VV']

data_all = pd.concat([data_area1_ohe, data_ck, data_ckall, data_dkall, data_ck_avg, data_dep_avg,
                      data_dep9201, data_fed9201, data_fed_avg, data_ck_changame, data_dep_changame,
                      data_ck_changtime, data_dep_changtime, data_comp], axis=1)
data_all

,0,1,2,3,4,5,6,7,8,ck_0,...,ck-avg,dep-avg,dep-9201,fed-9201,fed-avg,ck-changame,dep-changame,ck-changtime,dep-changtime,comp_0
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.0
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26139,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1443,0,0,0,0,0,0,0,0.0
26140,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0,25566,0,0,0,0,0,0,0,0.0
26141,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,2173,0,0,0,0,0,0,0,0.0
26142,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0.0
26143,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1149,0,0,0,0,0,0,0,0,0.0

In [14]:
data_all.to_csv("./data/feature3_train.csv")